<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

    <?include includes.wxi ?>
    <?include $(var.SolutionDir)..\build\temp\Dependencies.wxi ?>

    <Fragment>
        <!-- 
            Define all the files that will be installed in the program files folder.
            The user may decide to install in a different location which will be
            reflected in a change to the value of the INSTALLLOCATION directory.
        -->
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="C.Apollo.UI.Console.Exe"
                       Guid="{5606E36E-FCD9-4280-9711-898A2071A12E}">
                <File Id="File.Apollo.UI.Console.Exe"
                      Name="Apollo.UI.Console.exe"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.UI.Console.exe"
                      KeyPath="yes">
                    <Shortcut Id="ShortCut.StartMenu.Apollo.UI.Console"
                              Directory="Dir.Menu.Apollo"
                              Name="$(var.Apollo_ProductName) script runner"
                              Icon="Icon.Apollo.ico"
                              IconIndex="0"
                              WorkingDirectory="INSTALLLOCATION"
                              Advertise="no" />
                    <fire:FirewallException Id="Firewall.Apollo.UI.Console.exe"
                                            Name="Apollo Console"
                                            Profile="private"
                                            Scope="any"/>
                </File>
            </Component>

            <!-- Apollo.UI.Console.exe.config -->
            <Component Id="C.Apollo.UI.Console.Exe.Config"
                       Guid="{BC77D102-0DEE-4067-9ED4-8D908F883BA0}">
                <File Id="File.Apollo.UI.Console.Exe.Config"
                      Name="Apollo.UI.Console.exe.config"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.UI.Console.exe.config"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!--
            Define the exe in a seperate feature because the shortcut links are defined
            as advertised shortcuts. This means that after the product is installed
            it is possible for a different user to log on and see the installer run.
            At this point the installer is creating all the correct links for the
            shortcuts. This is done by re-running the feature that holds the shortcuts.
            In order to make sure that we don't rerun all of the features (and thus
            maybe lose registry settings etc.) we pack the exe in separate feature.
        -->
        <Feature Id="F.Apollo.UI.Console.Exe"
                 Title="Script runner"
                 Description="The script runner executable"
                 Absent="allow"
                 Level="10">
            <ComponentRef Id="C.Apollo.UI.Console.Exe" />
            <ComponentRef Id="C.Apollo.UI.Console.Exe.Config" />
        </Feature>

        <!-- The feature for the main program. -->
        <Feature Id="F.Apollo.UI.Console"
                 Title="Script runner"
                 Description="The binaries for the script User Interface."
                 Absent="allow"
                 Level="10">
            <FeatureRef Id="F.Apollo.UI.Console.Exe" />
            <ComponentGroupRef Id="CGroup.Apollo.Ui" />
        </Feature>
    </Fragment>
</Wix>