<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="ccm"
             version="1.0.7" />
    <package id="fxcop"
             version="10.0.30319.1" />
    <package id="Gallio.Complete"
             version="3.3.378.0" />
    <package id="moma"
             version="2.0.0.0" />
    <package id="opencover"
             version="4.0.1128" />
    <package id="reportgenerator"
             version="1.6.1.0" />
    <package id="sandcastle"
             version="2.7.2.0" />
    <package id="sandcastlehelpfilebuilder"
             version="1.9.6.0" />
    <package id="sourcemonitor"
             version="2.6.8.123" />
    <package id="wix"
             version="3.6.1615.0" />
</packages>