<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include includes.wxi ?>
    <?include $(var.SolutionDir)Dependencies.wxi ?>

    <Fragment>
        <!-- 
            Define all the files that will be installed in the program files folder.
            The user may decide to install in a different location which will be
            reflected in a change to the value of the INSTALLLOCATION directory.
        -->
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="C.Apollo.ProjectExplorer.Exe"
                       Guid="{2846885A-D649-47DD-9820-983B4158741A}">
                <File Id="File.Apollo.ProjectExplorer.Exe"
                      Name="Apollo.ProjectExplorer.exe"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.ProjectExplorer.exe"
                      KeyPath="yes">
                    <Shortcut Id="ShortCut.StartMenu.Apollo.ProjectExplorer"
                              Directory="Dir.Menu.Apollo"
                              Name="$(var.Apollo_ProductName)"
                              Icon="Icon.Apollo.ico"
                              IconIndex="0"
                              WorkingDirectory="INSTALLLOCATION"
                              Advertise="yes" />
                </File>
            </Component>

            <!-- Apollo.ProjectExplorer.exe.config -->
            <Component Id="C.Apollo.ProjectExplorer.Exe.Config"
                       Guid="{5809AC5B-6BC4-484A-A00D-766DA7D48446}">
                <File Id="File.Apollo.ProjectExplorer.Exe.Config"
                      Name="Apollo.ProjectExplorer.exe.config"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.ProjectExplorer.exe.config"
                      KeyPath="yes" />
            </Component>

            <!-- Apollo.UI.Common.dll -->
            <Component Id="C.Apollo.UI.Common.dll"
                       Guid="{A4DFEE6C-143C-42E3-902E-C34F13614C61}">
                <File Id="File.Apollo.UI.Common.dll"
                      Name="Apollo.UI.Common.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.UI.Common.dll"
                      KeyPath="yes" />
            </Component>

            <!-- GraphSharp.Controls.dll -->
            <Component Id="C.GraphSharp.Controls.dll"
                       Guid="{2727EB9A-1ACC-4E18-955C-32C58AD449B3}">
                <File Id="File.GraphSharp.Controls.dll"
                      Name="GraphSharp.Controls.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\GraphSharp.Controls.dll"
                      KeyPath="yes" />
            </Component>

            <!-- GraphSharp.dll -->
            <Component Id="C.GraphSharp.dll"
                       Guid="{C02B17E7-054B-4659-8290-A91E3A828113}">
                <File Id="File.GraphSharp.dll"
                      Name="GraphSharp.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\GraphSharp.dll"
                      KeyPath="yes" />
            </Component>

            <!-- GreyableImage.dll -->
            <Component Id="C.GreyableImage.dll"
                       Guid="{3DCE7565-34C5-446E-975B-E694810DA5CD}">
                <File Id="File.GreyableImage.dll"
                      Name="GreyableImage.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\GreyableImage.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Microsoft.Practices.Prism.dll -->
            <!--
            <Component Id="C.Microsoft.Practices.Prism.dll"
                       Guid="{5BD306B0-29E2-4641-A057-2AE3770F8B2B}">
                <File Id="File.Microsoft.Practices.Prism.dll"
                      Name="Microsoft.Practices.Prism.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Microsoft.Practices.Prism.dll"
                      KeyPath="yes" />
            </Component>
            -->

            <!-- Microsoft.Practices.Prism.Interactivity.dll -->
            <!--
            <Component Id="C.Microsoft.Practices.Prism.Interactivity.dll"
                       Guid="{5D517577-799F-4F0A-882A-8F4998735C78}">
                <File Id="File.Microsoft.Practices.Prism.Interactivity.dll"
                      Name="Microsoft.Practices.Prism.Interactivity.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Microsoft.Practices.Prism.Interactivity.dll"
                      KeyPath="yes" />
            </Component>
            -->

            <!-- Microsoft.Practices.ServiceLocation.dll -->
            <Component Id="C.Microsoft.Practices.ServiceLocation.dll"
                       Guid="{063913F3-9224-42D3-8523-DAEABA4480F1}">
                <File Id="File.Microsoft.Practices.ServiceLocation.dll"
                      Name="Microsoft.Practices.ServiceLocation.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Microsoft.Practices.ServiceLocation.dll"
                      KeyPath="yes" />
            </Component>

            <!-- PixelLab.Common.dll -->
            <Component Id="C.PixelLab.Common.dll"
                       Guid="{99A107CB-0FA4-469F-93E5-21B712116A18}">
                <File Id="File.PixelLab.Common.dll"
                      Name="PixelLab.Common.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\PixelLab.Common.dll"
                      KeyPath="yes" />
            </Component>

            <!-- PixelLab.Wpf.dll -->
            <Component Id="C.PixelLab.Wpf.dll"
                       Guid="{ECB64C28-50FA-4A47-8D38-97D6A93B862C}">
                <File Id="File.PixelLab.Wpf.dll"
                      Name="PixelLab.Wpf.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\PixelLab.Wpf.dll"
                      KeyPath="yes" />
            </Component>

            <!-- WPFExtensions.dll -->
            <Component Id="C.WPFExtensions.dll"
                       Guid="{EF11C9AC-C2ED-4810-A920-C7D6A9A0415E}">
                <File Id="File.WPFExtensions.dll"
                      Name="WPFExtensions.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\WPFExtensions.dll"
                      KeyPath="yes" />
            </Component>

            <!-- WPFLocalizeExtension.dll -->
            <Component Id="C.WPFLocalizeExtension.dll"
                       Guid="{C6959D6B-9ADC-4C76-8BB7-337B01ADB6F7}">
                <File Id="File.WPFLocalizeExtension.dll"
                      Name="WPFLocalizeExtension.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\WPFLocalizeExtension.dll"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- 
            Define where we get the icon from. This is used for the start-menu and
            desktop items. We could point to the Roads exe but then the icon won't 
            show up until the first time we run the application. This is because we 
            advertise the shortcuts. 
            Un-advertised shortcuts are advised against by the powers-that-be.
        -->
        <Icon Id="Icon.Apollo.ico"
              SourceFile="$(var.Apollo_ResourceFolder)\icons\apollo.ico" />

        <!-- The feature for the main program. -->
        <Feature Id="F.Apollo.UI.ProjectExplorer"
                 Title="ProjectExplorer"
                 Description="The binaries for the ProjectExplorer User Interface."
                 Absent="allow"
                 Level="10">
            <ComponentRef Id="C.Apollo.ProjectExplorer.Exe" />
            <ComponentRef Id="C.Apollo.ProjectExplorer.Exe.Config" />
            <ComponentRef Id="C.Apollo.UI.Common.dll" />
            <ComponentRef Id="C.GraphSharp.Controls.dll" />
            <ComponentRef Id="C.GraphSharp.dll" />
            <ComponentRef Id="C.GreyableImage.dll" />
            <!-- 
                <ComponentRef Id="C.Microsoft.Practices.Prism.dll" />
                <ComponentRef Id="C.Microsoft.Practices.Prism.Interactivity.dll" />
            -->
            
            <ComponentRef Id="C.Microsoft.Practices.ServiceLocation.dll" />
            <ComponentRef Id="C.PixelLab.Common.dll" />
            <ComponentRef Id="C.PixelLab.Wpf.dll" />
            <ComponentRef Id="C.WPFExtensions.dll" />
            <ComponentRef Id="C.WPFLocalizeExtension.dll" />

            <ComponentGroupRef Id="CGroup.Apollo.Core" />
            <ComponentGroupRef Id="CGroup.Apollo.Core.Dataset" />
        </Feature>
    </Fragment>
</Wix>