<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.0.4" targetFramework="net45" />
  <package id="Autofac" version="3.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EasyHttp" version="1.4.7.0" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Lokad.Shared" version="1.5.181.0" targetFramework="net45" />
  <package id="Lucene" version="2.9.4.1" targetFramework="net45" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="Mono.Options" version="1.0.3.3" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NSarrac" version="0.2.0.0" targetFramework="net45" />
  <package id="Nuclei" version="0.6.3.0" targetFramework="net45" />
  <package id="Nuclei.AppDomains" version="0.6.2.0" targetFramework="net45" />
  <package id="Nuclei.Build" version="0.6.3.0" targetFramework="net45" />
  <package id="Nuclei.Communication" version="0.6.3.0" targetFramework="net45" />
  <package id="Nuclei.Configuration" version="0.6.3.0" targetFramework="net45" />
  <package id="Nuclei.Diagnostics" version="0.6.3.0" targetFramework="net45" />
  <package id="Nuclei.ExceptionHandling" version="0.6.2.0" targetFramework="net45" />
  <package id="Nuclei.Fusion" version="0.6.2.0" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="WpfLocalizeExtension" version="2.1.3" targetFramework="net45" />
  <package id="XAMLMarkupExtensions" version="1.1.6.1" targetFramework="net45" />
</packages>