<#@ template language="C#" hostspecific="True" #>
<#@ include file="..\..\..\core\Utils\Licensing\Manager.ttinclude" #>
<#@ output extension=".txt" #>
<#@ include file="..\..\..\..\..\utils\src\utils.test.unit\Licensing\LicenseValidatorTest.ttinclude" #>
<# var manager = Manager.Create(Host, GenerationEnvironment); #>
<# manager.StartNewFile("ValidationServiceLicenseValidatorTest.cs"); #>
<# WriteLicenseValidatorTest("Apollo.Core.Utils.Licensing", "ValidationServiceLicenseValidatorTest", "ValidationServiceLicenseValidator");#>
<# manager.EndBlock(); #>
<# manager.StartNewFile("CoreLicenseValidatorTest.cs"); #>
<# WriteLicenseValidatorTest("Apollo.Core.Utils.Licensing", "CoreLicenseValidatorTest", "CoreLicenseValidator");#>
<# manager.EndBlock(); #>
<# manager.StartNewFile("UserInterfaceLicenseValidatorTest.cs"); #>
<# WriteLicenseValidatorTest("Apollo.Core.Utils.Licensing", "UserInterfaceLicenseValidatorTest", "UserInterfaceLicenseValidator");#>
<# manager.EndBlock(); #>
<# manager.Process(true); #>