<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include $(var.SolutionDir)..\build\temp\Dependencies.wxi ?>
    
    <Fragment>
        <!-- 
            Define all the files that will be installed in the program files folder.
            The user may decide to install in a different location which will be
            reflected in a change to the value of the INSTALLLOCATION directory.
        -->
        <DirectoryRef Id="INSTALLLOCATION">
            <!-- Apollo.Core.Host.dll -->
            <Component Id="C.Apollo.Core.Host.dll"
                       Guid="{5BFBBC07-ED98-4EEA-BB28-527693AEC44E}">
                <File Id="File.Apollo.Core.Host.dll"
                      Name="Apollo.Core.Host.dll"
                      DiskId="1"
                      Source="$(var.BinFolder)\Apollo.Core.Host.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Apollo.Core.Scripting.dll -->
            <Component Id="C.Apollo.Core.Scripting.dll"
                       Guid="{285914BA-8DFF-4F22-AA76-936B8AF8C5B7}">
                <File Id="File.Apollo.Core.Scripting.dll"
                      Name="Apollo.Core.Scripting.dll"
                      DiskId="1"
                      Source="$(var.BinFolder)\Apollo.Core.Scripting.dll"
                      KeyPath="yes" />
            </Component>

            <!-- IronPython.dll -->
            <Component Id="C.IronPython.dll"
                       Guid="{76AC7D70-BFA5-4F54-9BC7-97859B251F3B}">
                <File Id="File.IronPython.dll"
                      Name="IronPython.dll"
                      DiskId="1"
                      Source="$(var.BinFolder)\IronPython.dll"
                      KeyPath="yes" />
            </Component>

            <!-- IronPython.Modules.dll -->
            <Component Id="C.IronPython.Modules.dll"
                       Guid="{B772A51C-B8B8-4981-942F-15F01FB76D26}">
                <File Id="File.IronPython.Modules.dll"
                      Name="IronPython.Modules.dll"
                      DiskId="1"
                      Source="$(var.BinFolder)\IronPython.Modules.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Microsoft.Scripting.dll -->
            <Component Id="C.Microsoft.Scripting.dll"
                       Guid="{78707D13-D90B-499D-8F1F-15297E03330A}">
                <File Id="File.Microsoft.Scripting.dll"
                      Name="Microsoft.Scripting.dll"
                      DiskId="1"
                      Source="$(var.BinFolder)\Microsoft.Scripting.dll"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <ComponentGroup Id="CGroup.Apollo.Core.Host">
            <ComponentRef Id="C.Apollo.Core.Host.dll" />
            <ComponentRef Id="C.Apollo.Core.Scripting.dll" />
            
            <ComponentRef Id="C.IronPython.dll" />
            <ComponentRef Id="C.IronPython.Modules.dll" />
            <ComponentRef Id="C.Microsoft.Scripting.dll" />

            <ComponentGroupRef Id="CGroup.Apollo.Base" />
            <ComponentGroupRef Id="CGroup.Apollo.Core.Dataset" />
        </ComponentGroup>
    </Fragment>
</Wix>