<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="LicenseValidationCacheTest.ttinclude" #>
<# WriteLicenseValidationCacheTest("Apollo.Utils.Licensing", "LicenseValidationCacheTest", "LicenseValidationCache"); #>