<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Babel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Babel.Properties.Settings>
            <setting name="ConsoleForeColorInfo" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ConsoleForeColorWarning" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ConsoleForeColorError" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ConsoleForeColorDebug" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="VerboseLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IlIterations" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ObfuscateVirtualFunctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlattenNamespaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnicodeNormalization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StringEncryption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressIldasm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmitInvalidOpcodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateProperties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateFields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObfuscateMsil" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeadCodeElimination" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObfuscationAgent" serializeAs="String">
                <value>True</value>
            </setting>
        </Babel.Properties.Settings>
    </userSettings>
</configuration>