<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include $(var.CurrentProjectDir)\includes.wxi ?>
    <?include $(var.SolutionDir)Dependencies.wxi ?>
    
    <Fragment>
        <!-- 
            Define all the files that will be installed in the program files folder.
            The user may decide to install in a different location which will be
            reflected in a change to the value of the INSTALLLOCATION directory.
        -->
        <DirectoryRef Id="INSTALLLOCATION">
            <!-- Apollo.Core.Base.dll -->
            <Component Id="C.Apollo.Core.Base.dll"
                       Guid="{BCC2B8E6-29EA-4B5D-B63C-01401FE221DE}">
                <File Id="File.Apollo.Core.Base.dll"
                      Name="Apollo.Core.Base.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.Core.Base.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Apollo.Core.Extensions.dll -->
            <Component Id="C.Apollo.Core.Extensions.dll"
                       Guid="{5A528E8B-CEEC-4431-B78F-EF17D9E365FD}">
                <File Id="File.Apollo.Core.Extensions.dll"
                      Name="Apollo.Core.Extensions.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.Core.Extensions.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Apollo.Utilities.dll -->
            <Component Id="C.Apollo.Utilities.dll"
                       Guid="{01941790-8814-48BA-BA0C-E0CB8FF8577A}">
                <File Id="File.Apollo.Utilities.dll"
                      Name="Apollo.Utilities.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Apollo.Utilities.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Autofac.dll -->
            <Component Id="C.Autofac.dll"
                       Guid="{19E59680-6E63-4E5E-89F0-B3123D127932}">
                <File Id="File.Autofac.dll"
                      Name="Autofac.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Autofac.dll"
                      KeyPath="yes" />
            </Component>
          
            <!-- Castle.Core.dll -->
            <Component Id="C.Castle.Core.dll"
                       Guid="{E224668B-0B61-43C0-B8D3-A179526C2F18}">
                <File Id="File.Castle.Core.dll"
                      Name="Castle.Core.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Castle.Core.dll"
                      KeyPath="yes" />
            </Component>

            <!-- Lokad.Shared.dll -->
            <Component Id="C.Lokad.Shared.dll"
                       Guid="{1861906E-662C-405F-845E-0F1BD130B0A5}">
                <File Id="File.Lokad.Shared.dll"
                      Name="Lokad.Shared.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Lokad.Shared.dll"
                      KeyPath="yes" />
            </Component>

            <!-- NLog.dll -->
            <Component Id="C.NLog.dll"
                       Guid="{81F63D98-CB9B-446F-B599-BAA6E996B1F9}">
              <File Id="File.NLog.dll"
                    Name="NLog.dll"
                    DiskId="1"
                    Source="$(var.Apollo_BinFolder)\NLog.dll"
                    KeyPath="yes" />
            </Component>

            <!-- Utilities.dll -->
            <Component Id="C.Nuclei.dll"
                       Guid="{852E1980-B41A-48BF-B36C-29D43AEDA26E}">
                <File Id="File.Nuclei.dll"
                      Name="Nuclei.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Nuclei.dll"
                      KeyPath="yes" />
            </Component>
            
            <!-- Utilities.Diagnostics.dll -->
            <Component Id="C.Nuclei.Diagnostics.dll"
                       Guid="{09724582-A966-4275-991B-2961B8A9678E}">
                <File Id="File.Nuclei.Diagnostics.dll"
                      Name="Nuclei.Diagnostics.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Nuclei.Diagnostics.dll"
                      KeyPath="yes" />
            </Component>
            
            <!-- Utilities.Communication.dll -->
            <Component Id="C.Nuclei.Communication.dll"
                       Guid="{50726AD8-D225-4B21-950E-13990B5FE583}">
                <File Id="File.Nuclei.Communication.dll"
                      Name="Nuclei.Communication.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\Nuclei.Communication.dll"
                      KeyPath="yes" />
            </Component>

            <!-- NSarrac.dll -->
            <Component Id="C.NSarrac.Framework.dll"
                       Guid="{8E63D197-4675-4C72-8EEF-8D112541EAAA}">
                <File Id="File.NSarrac.Framework.dll"
                      Name="NSarrac.Framework.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\NSarrac.Framework.dll"
                      KeyPath="yes" />
            </Component>

            <!-- QuickGraph.dll -->
            <Component Id="C.QuickGraph.dll"
                       Guid="{1C6EFE39-0762-428F-86B3-F21B6E3DA0F2}">
                <File Id="File.QuickGraph.dll"
                      Name="QuickGraph.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\QuickGraph.dll"
                      KeyPath="yes" />
            </Component>

            <!-- System.Reactive.dll -->
            <Component Id="C.System.Reactive.dll"
                       Guid="{022520DB-88C9-4509-B692-F9FA2C736A1E}">
                <File Id="File.System.Reactive.dll"
                      Name="System.Reactive.dll"
                      DiskId="1"
                      Source="$(var.Apollo_BinFolder)\System.Reactive.dll"
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- 
            Define where we get the icon from. This is used for the start-menu and
            desktop items. We could point to the Apollo exe but then the icon won't 
            show up until the first time we run the application. This is because we 
            advertise the shortcuts. 
            Un-advertised shortcuts are advised against by the powers-that-be.
        -->
        <Icon Id="Icon.Apollo.ico"
              SourceFile="$(var.Apollo_ResourceFolder)\icons\apollo.ico" />

        <!-- The feature for the main program. -->
        <ComponentGroup Id="CGroup.Apollo.Base">
            <ComponentRef Id="C.Apollo.Core.Base.dll" />
            <ComponentRef Id="C.Apollo.Core.Extensions.dll" />
            <ComponentRef Id="C.Apollo.Utilities.dll" />
            <ComponentRef Id="C.Autofac.dll" />
            <ComponentRef Id="C.Castle.Core.dll" />
            <ComponentRef Id="C.Lokad.Shared.dll" />
            <ComponentRef Id="C.NLog.dll" />
            <ComponentRef Id="C.Nuclei.dll" />
            <ComponentRef Id="C.Nuclei.Diagnostics.dll" />
            <ComponentRef Id="C.Nuclei.Communication.dll" />
            <ComponentRef Id="C.NSarrac.Framework.dll" />
            <ComponentRef Id="C.QuickGraph.dll" />
            <ComponentRef Id="C.System.Reactive.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>