<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.0.4" targetFramework="net45" />
  <package id="Autofac" version="3.1.1" targetFramework="net45" />
  <package id="AvalonEdit" version="4.3.1.9430" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EasyHttp" version="1.4.7.0" targetFramework="net45" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net45" />
  <package id="GreyableImage" version="1.0.5.4" targetFramework="net45" />
  <package id="IronPython" version="2.7.4" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Lokad.Shared" version="1.5.181.0" targetFramework="net45" />
  <package id="Lucene" version="2.9.4.1" targetFramework="net45" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="NSarrac" version="0.2.0.0" targetFramework="net45" />
  <package id="Nuclei" version="0.7.1.0" targetFramework="net45" />
  <package id="Nuclei.Build" version="0.7.1.0" targetFramework="net45" />
  <package id="Nuclei.Configuration" version="0.7.1.0" targetFramework="net45" />
  <package id="Nuclei.Diagnostics" version="0.7.1.0" targetFramework="net45" />
  <package id="PixelLab.BOT" version="6.0.2" targetFramework="net45" />
  <package id="PixelLab.Common" version="6.0.2" targetFramework="net45" />
  <package id="PixelLab.Core" version="6.0.2" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.66" targetFramework="net45" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net45" />
  <package id="WpfLocalizeExtension" version="2.1.4" targetFramework="net45" />
  <package id="XAMLMarkupExtensions" version="1.1.6.3" targetFramework="net45" />
</packages>