<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0"/>
    </startup>

    <!-- WCF client config for NSarrac -->
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBinding_IFeedbackService"
                         bypassProxyOnLocal="false"
                         messageEncoding="Mtom">
                </binding>
            </wsHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding_IFeedbackService"
                         transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7071/nsarrac/consoletest"
                      binding="netTcpBinding"
                      contract="NSarrac.Framework.IFeedbackService"
                      bindingConfiguration="netTcpBinding_IFeedbackService"/>
        </client>
    </system.serviceModel>

    <appSettings>
        <add key="LoadProfiler" value="true"/>
    </appSettings>
</configuration>
