<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apollo.UI.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0"/>
    </startup>

    <!-- WCF client config for NSarrac -->
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBinding_IFeedbackService"
                         bypassProxyOnLocal="false"
                         messageEncoding="Mtom">
                </binding>
            </wsHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding_IFeedbackService"
                         transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7071/nsarrac/consoletest"
                      binding="netTcpBinding"
                      contract="NSarrac.Framework.IFeedbackService"
                      bindingConfiguration="netTcpBinding_IFeedbackService"/>
        </client>
    </system.serviceModel>

    <appSettings>
        <add key="LoadProfiler" value="true"/>
    </appSettings>
    <userSettings>
        <Apollo.UI.Explorer.Properties.Settings>
            <setting name="ShowWelcomePageOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWelcomePageAfterProjectLoad" serializeAs="String">
                <value>False</value>
            </setting>
        </Apollo.UI.Explorer.Properties.Settings>
    </userSettings>
</configuration>
