<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="LicenseValidator.ttinclude" #>
<#+
    string Namespace = "Apollo.Utils.Licensing";
    string ClassName = "LicenseValidator";
#>